#flowCustomizer {

}

#flowCustomizer .navLink {
  background-color: white;
  color: #c00;
  border-bottom: 3px solid transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#flowCustomizer .navLink.active {
  border-bottom: 3px solid #c00;
  background-color: white;
}
