.landingContainer {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.bannerImg {
  position: relative;
  left: 0;
  top: 0;
  height: calc(65vh - 60px);
  width: 100vw;
  max-width: 100%;
  background-image: url(../../assets/images/woman.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  border: 0;
  display: block;
  padding: 16px;
}

.textBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 100vw;
  max-width: 100%;
  border: 0;
  box-sizing: border-box;
}

.textBlock h2 {
  font-size: 32px;
  color: black;
}

.textBlock p {
  margin: 0;
  font-size: 16px;
  color: rgb(51, 51, 51);
}

.centerInfo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 500px;
  background: rgba(0, 0, 0, 0.65);
  padding: 16px;
  border-radius: 4px;
}

.centerInfo * {
  color: white;
  text-align: center;
}

.centerInfo h1 {
  font-weight: bold;
  letter-spacing: 1px;
}

.centerInfo h1::after {
  content: '';
  height: 1px;
  width: calc(100% - 24px);
  background-color: white;
  display: block;
  margin: 12px;
}

.newLocationText {
  font-size: 52px;
  padding: 40px;
  color: white;
  position: absolute;
  bottom: 0;
  max-width: 800px;
}

@media (min-width: 900px) {
  .textBlock {
    padding-left: 86px;
    padding-right: 86px;
  }
}

@media (max-width: 1400px) {
  .bannerImg {
    background-image: url(../../assets/images/woman-less-narrow.png);
  }
}

@media (max-width: 1200px) {
  .bannerImg {
    background-image: url(../../assets/images/woman-narrow.png);
  }
}

@media (max-width: 768px) {
  .newLocationText {
    padding: 10px;
    max-width: 100%;
    font-size: 48px;
  }
}
